.tm-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 32px 24px 32px 24px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

/* @media (min-width: 1400px) {
  .tm-sidebar-left {
    width: 300px !important;
    padding: 32px 45px 32px 45px;
  }
} */

.tm-sidebar-right {
    /* position: absolute; */
    position: fixed !important;
    /* top: 0; */
    top: 96px;
    /* left: calc(100% + 0px); */
    width: 200px !important;
    right: 0 !important;
}

@media (max-width: 1199px) {
  .tm-sidebar-right.uk-visible\@l {
    display: inherit !important;
  }
}

@media (max-width: 960px) {
  .tm-sidebar-right.uk-visible\@l {
    display: none !important;
  }
}

/* @media (min-width: 1400px) {
  .tm-sidebar-right {
    left: calc(100% + 60px);
  }
}

@media (min-width: 1200px) {
  .tm-sidebar-right {
    left: calc(100% + 0px);
  }
} */

.tm-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
}

.uk-light .uk-logo, .uk-section-primary:not(.uk-preserve-color) .uk-logo, .uk-section-secondary:not(.uk-preserve-color) .uk-logo, .uk-tile-primary:not(.uk-preserve-color) .uk-logo, .uk-tile-secondary:not(.uk-preserve-color) .uk-logo, .uk-card-primary.uk-card-body .uk-logo, .uk-card-primary>:not([class*='uk-card-media']) .uk-logo, .uk-card-secondary.uk-card-body .uk-logo, .uk-card-secondary>:not([class*='uk-card-media']) .uk-logo, .uk-overlay-primary .uk-logo, .tm-navbar-container:not(.uk-navbar-transparent) .uk-logo {
  color: #fff !important;
}

.uk-light .uk-navbar-nav>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-tile-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-overlay-primary .uk-navbar-nav>li.uk-active>a, .tm-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
  color: #fff !important;
}

.uk-light .uk-navbar-nav>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a, .uk-overlay-primary .uk-navbar-nav>li>a, .tm-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a {
  color: rgba(255,255,255,0.8) !important;
}

.gn-indent {
  padding-left: 12px !important;
}

.gn-menu-section {
  font-weight: bold;
}

.gn-code {
  margin-bottom: 16px;
}

.gn-code pre, .gn-code .CodeMirror {
  font: 12px / 1.5 'Roboto Mono',monospace;
  color: #666;
  /* -moz-tab-size: 4; */
  /* tab-size: 4; */
  border-radius: 0;
  background: #fbfbfb;
  box-sizing: border-box;
}

.gn-code pre {
  overflow: auto;
  border: 1px solid #e8e8e8;
  padding: 12px;
}

.uk-iconnav {
  margin: 0 !important;
}

.uk-iconnav>* {
  padding-left: 4px !important;
}

.hljs {
  background-color: inherit !important;
}

#gn-bar-right {
  padding-top: 16px;
  z-index: 999;
}

.gn-sideright {
  border-left: 1px solid #e0e0e0;
  padding-left: 12px;
}

.gn-head-title {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .gn-head-title {
    display: none;
  }
}

.uk-navbar-toggle {
  color: white !important;
}

.uk-section {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.gn-main {
  margin-left: 240px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  width: calc(100% - 520px) !important;
  max-width: 1100px !important;
}

@media (max-width: 960px) {
  .gn-main {
    margin-left: 0 !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    width: calc(100% - 64px) !important;
  }
}

@media (max-width: 640px) {
  .gn-main {
    margin-left: 0 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: calc(100% - 32px) !important;
  }
}

.gn-menu-bookmark-link a {
  padding: 0 !important;
}

.tm-sidebar-left li {
  line-height: 14px !important;
  margin: 8px 0 !important;
}

.tm-sidebar-left li a {
  /* padding-top: 12px !important; */
  /* padding-bottom: 0 !important; */
  font-weight: normal;
  color: #999;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.tm-sidebar-left li a:hover {
  color: #666;
}

.tm-sidebar-left li.gn-menu-bookmark-link {
  font-size: 12px !important;
  line-height: 12px !important;
}

/* .tm-sidebar-left li.gn-menu-bookmark-link a {
  padding-top: 6px !important;
}

.uk-nav > li:first-child > a {
  padding-top: 6px !important;
}

.uk-nav > li:last-child > a {
  padding-bottom: 2px !important;
} */

.gn-main h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.gn-main h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.gn-main h1, .gn-main h2, .gn-main h3, .gn-main h4, .gn-main h5, .gn-main h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.gn-main h1 a, .gn-main h2 a, .gn-main h3 a, .gn-main h4 a, .gn-main h5 a, .gn-main h6 a {
  text-decoration: none;
  visibility: hidden;
  font-weight: 400;
  color: rgba(0,123,255,.5);
}

.gn-main h1:hover a, .gn-main h2:hover a, .gn-main h3:hover a, .gn-main h4:hover a, .gn-main h5:hover a, .gn-main h6:hover a {
  visibility: visible;
}

.gn-main-title {
  margin-top: 0 !important;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 24px !important;
}

.gn-main blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  font-size: inherit;
  font-style: inherit;
}

.gn-main p, .gn-main blockquote, .gn-main ul, .gn-main ol, .gn-main dl, .gn-main table/* , .gn-main pre */ {
  margin-top: 0;
  margin-bottom: 16px;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {
  color: inherit !important;
  background-color: #f0f0f0 !important;
}

.gn-main hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.gn-ul {
  padding-left: 12px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 100%;
  box-sizing: border-box;
}

.tm-sidebar-left > .gn-ul {
  padding-left: 0 !important;
}

.gn-left-panel {
  top: 0 !important;
  padding: 0 !important;
}

.gn-cat {
  cursor: pointer;
}

.gn-cat:hover {
  color: black;
}

.uk-offcanvas-bar .gn-cat:hover {
  color: white;
}

.uk-active > a {
  color: black !important;
}

.uk-offcanvas-bar .uk-active > a {
  color: white !important;
}

.gn-expnd {
  font-size: 10px;
  right: 24px;
  position: absolute;
  margin-top: -16px;
  text-transform: uppercase;
  cursor: pointer;
}

.gn-expnd:hover {
  color: black;
}

.tm-sidebar-left h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

.gn-logo {
  margin-top: 8px;
  margin-left: -15px;
  height: 42px;
  max-width: 76px;
}

#gn-src {
  /* max-width: 400px; */
  margin-bottom: 8px;
}

.gsc-control-cse {
  padding: 0 !important;
  border: none !important;
  background-color: inherit !important;
}

form.gsc-search-box, table.gsc-search-box {
  margin-bottom: 0 !important;
}

.gsc-search-button {
  display: none !important;
}

.gsc-input {
  padding-right: 0 !important;
}

.gsc-search-box {
  width: 170px !important;
}
.gsc-input-box, input.gsc-input, input.gsc-input::placeholder {
  /* background-color: #88C6F8 !important; */
  /* border-color: #88C6F8 !important; */
  /* color: white !important; */
  /* text-indent: 0 !important; */
  color: #aaa;
}

#gn-site-index {
  display: none;
}

.gn-index a {
  font-weight: normal;
}

.gn-index > ul {
  padding-left: 0 !important;
}

code {
  /* display: inline-block;
  overflow: auto;
  max-width: 100%; */
  /* word-wrap: break-word; */
  white-space: inherit !important;
}

.gn-code-tabs {
  margin-bottom: 8px !important;
}

.gn-code .gn-code-block {
  margin-top: 8px !important;
}

.gn-code-tabs a {
  border-width: 2px !important;
}

.gn-cm-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 80vh;
  border: 1px solid #e8e8e8;
}

.gn-cm-wrapper > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.gn-cm-wrapper.gn-cm-single > div {
  width: 100%;
}

.gn-cm-wrapper > div:first-child {
    border-right: 1px solid #e8e8e8;
}

.gn-cm-wrapper.gn-cm-single > div:first-child {
    border-right: none;
}

.gn-cm-ta {
  width: 100%;
  height: 100%;
}

.gn-cm-iframe {
  width: 100%;
  width: calc(100% - 1px);
  height: 100%;
}

.CodeMirror {
  width: 100%;
  height: 100% !important;
}

.gn-browserbar {
  padding: 8px 8px;
  background-color: #e5e5e5;
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.gn-browserbar .uk-icon-button {
  width: 24px;
  height: 24px;
}

.gn-browserbar .uk-icon-button:first-child {
  margin-right: 4px;
}

.gn-adr {
  background-color: #fbfbfb;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  height: 24px;
  margin: 0 8px;
  padding: 0 8px;
  color: #d8d8d8;
}

.gn-rfr svg {
  width: 16px;
  height: 16px;
}

.cm-s-default .cm-comment {
  color: #b0b0b0 !important;
}

.cm-s-default .cm-def, .cm-s-default .cm-variable, .cm-s-default .cm-variable-2 {
  color: #00b !important;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-hscrollbar::-webkit-scrollbar {
  height: 8px !important;
}

.CodeMirror-overlayscroll-vertical, .CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 8px !important;
}

.gn-style-scroll::-webkit-scrollbar {
  width: 8px;
}

.gn-style-scroll::-webkit-scrollbar-thumb, .CodeMirror-hscrollbar::-webkit-scrollbar-thumb, .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.6); 
}

.CodeMirror-foldmarker {
  color: #aad;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
  font-size: 20px;
}

.CodeMirror-foldmarker:hover {
  color: #00f;
}

/* .CodeMirror-selected  { background-color: blue !important; } */
/* .CodeMirror-selectedtext { color: white; } */

.CodeMirror-line .styled-background {
  background-color: #f0f0f0;
  color: #aaa !important;
}

.gn-code .uk-tab>*>a {
  text-transform: inherit;
}

.gn-main .gn-hr-thin {
  height: 1px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.gn-valid {
  background-color: green !important;
}

.gn-step-result {
  margin-bottom: 8px;
}

.gn-step-result .gn-step-valid .uk-icon {
  color: green;
}

.gn-step-result .gn-step-invalid {
  position: relative;
}

/* .gn-step-result .gn-step-invalid .uk-icon {
  margin: -2px -10px 0 -11px;
  position: absolute;
}

.gn-step-result .gn-step-invalid .gn-step-msg {
  margin-left: 16px;
} */

.gn-next-warning {
  margin-right: 12px;
}

.gn-next-warning .uk-icon {
  margin-right: 8px;
  color: #f00;
}

.gn-step-block button {
  margin-right: 12px;
}

#gn-debug {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background-color: white;
  border: 2px solid red;
  padding: 4px;
  font-size: 11px;
  line-height: 12px;
  max-width: 33vw;
  max-height: 50vh;
  overflow: auto;
}

.gn-code-tabs-wrapper {
  z-index: 99;
}

.gn-reset-tut-wrapper {
  display: flex;
  /* border-bottom: 1px solid #eaecef; */
  /* padding-bottom: 4px; */
  padding: 8px;
  background-color: #f0f0f0;
  margin-bottom: 24px;
}

.gn-reset-tut-wrapper button {
  margin-left: 16px;
  background-color: white;
}

.gn-reset-tut-wrapper button:hover {
  color: black;
  background-color: white;
}

.gn-reset-tut-wrapper > div {
  display: flex;
  align-items: center;
}
